.hidden-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none; 
}

.hidden-scrollbar::-webkit-scrollbar {
  width: 0;
}
.hidden-scrollbar::-webkit-scrollbar-thumb {
  background-color: transparent;
}